<table width="98%" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#83c8ff">
	<tr class="wz"><td height="34" align="center" bgcolor="#052f55" colspan="2">分类信息</td></tr>
	<tr><td align="center" bgcolor="#CBE6FF" height="34">code:</td><td  align="center" bgcolor="#CBE6FF" height="34"><%=h @type.code%></td></tr>
	<tr><td  align="center" bgcolor="#CBE6FF" height="34">名称:</td><td  align="center" bgcolor="#CBE6FF" height="34"><%=h @type.name%></td></tr>
	<tr><td  align="center" bgcolor="#CBE6FF" height="34">菜单:</td><td  align="center" bgcolor="#CBE6FF" height="34"><%=h @type.isMenu%></td></tr>
	<tr><td  align="center" bgcolor="#CBE6FF" height="34">链接:</td><td  align="center" bgcolor="#CBE6FF" height="34"><%=h @type.url%></td></tr>
	<tr><td  align="center" bgcolor="#CBE6FF" height="34">注释:</td><td  align="center" bgcolor="#CBE6FF" height="34"><%=h @type.info%></td></tr>
</table>