<% form_for("film_data", :html => {:multipart => true,:class=>'form'}) do |form|  %>
<p class="row"><label for="name">影片名称：</label><%= form.text_field :name, :class=>"input-box", :value => @return_data[:name] ? @return_data[:name] : ''%><span class="error">
    <%= @errors[:name] if @errors[:name] %>
  </span> </p>
<p class="row"><label>剧照：</label><%= form.file_field :img%>

<% if @errors[:image] %>
  <span class="error">
    <%= @errors[:image]%>
  </span>
  <% else %>
  <span>图片名称必须是英文字母和数字组成。请严格遵守标准尺寸：260(宽) X 390(高)</span>
<% end %>

</p>
<p class="row"><label>导演：</label><%= form.text_field :director, :value => @return_data[:director] ? @return_data[:director] : '', :class=>"input-box" %><span class="error">
	<%= @errors[:director] if @errors[:director] %> </span></p>
<p class="row"><label>主演：</label><%= form.text_area :actors, :value => @return_data[:actors] ? @return_data[:actors] : "",:class=>"input-box", :size=>'45x5' %>
  <span class="error"><%= @errors[:actors] if @errors[:actors]  %> </span> </p>
  
<p class="row"><label>国家/地区：</label><%= form.text_field :country , :class=>"input-box", :value => @return_data[:country] ? @return_data[:country] : ''  %> <span class="error">
    <%= @errors[:country] if @errors[:country] %>
  </span></p>
<p class="row"><label>备注：</label>
<%= form.text_area :description , :value => @return_data[:description] ? @return_data[:description] : '', :class=>"input-box", :size=>'45x5'%><span class="error">
    <%= @errors[:description] if @errors[:description] %>
  </span></p>
<p class="row">
  <label style="height:100px">类别：</label>
  <%
   counter = 1
 [
'剧情',
'喜剧',
'动作',
'爱情',
'惊悚',
'短片',
'纪录片',
'犯罪',
'恐怖',
'冒险',
'悬疑',
'动画',
'家庭',
'战争',
'奇幻',
'科幻',
'歌舞',
'西部',
'音乐',
'传记',
'历史',
'运动',
'古装',
'武侠',
'戏曲',
'儿童'].each do |cat|  %>
  <%= cat %><%= check_box_tag "categories[]", cat %><%= '<br />' if counter > 0 && counter % 6 == 0  %>
  <%  counter += 1
end %>
  <br />
  <% if @errors[:categories] %>
  <span class="error">
    <%= @errors[:categories] %>
  </span>
  <% end  %>
</p>
<p class="row"><label>上映时间：</label><%=form.date_select :released_date, :use_month_names => %w(1 2 3 4 5 6 7 8 9 10 11 12) %>
  <span class="error"></span>
</p>

<p class="row"><label>片长：</label>
<%= form.text_field :duration, :value => @return_data[:duration] ? @return_data[:duration] : ''%>
<span class="error"><%= @errors[:duration] ? @errors[:duration] : '' %></span>
</p>
<p class="row">
  <%= submit_tag '添加', :class=>'btn' %>
</p>

<% end  %>
