<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UME<%=location%></title>
<%=stylesheet_link_tag "article_template1"%>
</head>
<body>
<div id="bg">
<div class="frame">
<div id="head">
<%=infoNavi%>
</div>
<div id="center">
  <table>
    <tr>
      <td id="menu" rowspan="2">
      	<ul style="list-style:none">
		<%for tmp in @types%>
			<li style="margin-bottom:15px;;font-size:14px;font-weight:200;">
			<%=
				link_to_if  tmp.url.blank?,tmp.name,:controller=>"classes",:action=>"list",:id=>tmp do
					link_to tmp.name,tmp.url
				end
			%></li>
		<%end%>
		</ul>
		</td>
      <td id="line"></td>
      <td rowspan="2" id="main">
      	<span class="navigate">
      		<%=@types[0].name%> &gt; 
			<%=link_to @type.name,:controller=>"classes",:action=>"list",:id=>@type%> &gt; 
		</span>
		<ul style="list-style:decimal;">
		<%for tmp in @list%>
			<li style="margin:15px 0px;list-style:inside;color:#DAD9D9;"> <%=link_to tmp.title,tmp.url,:target=>"_blank",:style=>"color:#DAD9D9;text-decoration:none;"%>   -<span style="color:#999;"> <%=tmp.created_at.to_s.to(15)%></span></li>
		<%end%>
		<%if @list.size==0%>
			<span style="width:100%;text-align:center;color:#EAEAD1;display:block;">暂无信息</span>
		<%end%>
		</ul>
	 </td>
    </tr>
    <tr>
      <td id="line2"></td>
    </tr>
  </table>
</div>
<div id="link" align="center"><%=link%></div>
<div id="footer"></div>
</div>
</div>
<script>
	var a=document.getElementById("menu");
	var n=a.children[0].children[0];
	var t=n.children[0];
	n.innerHTML=t.firstChild.nodeValue;
	n.className="menu_head";
	n.style.fontSize="20px";
</script>
</body>
</html>
